# Ignore virtual environment
venv/
.venv/
env/
.env/

# Ignore git folder
.git/
.gitignore
.gitattributes

# Ignore python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local environment files and logs
.env
*.log
